Feedback from Simon T. 12/6/2024

From https://mailarchive.ietf.org/arch/msg/ssh/4JwFPr1n3Fv4UBNsPzHq7zIWkKA/

> Section 2.1 says that the SSH_MSG_KEX_HYBRID_INIT message contains a single string C_INIT which is the concatenation of the PQ and classical client public keys. I think it would be useful to explain at this point how the server is expected to decode this back into the two separate keys. I think it would probably be enough to write some text along the lines of
> 
>>   Every post-quantum scheme used in this hybrid construction defines a fixed byte length for its public keys. Therefore, the server can unambiguously divide C_INIT into two substrings giving the post-quantum and classical public keys respectively, by splitting the  string after the expected byte length of the post-quantum key.
> 
> and something similar for S_REPLY.


> Section 2.4 explains that when the classical algorithms are used on their own (both x25519 and NIST) the output shared secret is encoded as an integer, and then says that in this hybrid scheme it is instead formatted as a fixed-length byte array to use in the combining hash.
> 
> But when you represent an integer as a fixed-length byte array you must specify both the length of the array and its endianness: leaving those details out is an interoperability hazard!
> 
> The section refers to RFC4251 section 5 to define byte arrays, but RFC4251 section 5 doesn't give any convention for how they encode integers, so that reference is no help. And the endianness conventions for plain Curve25519 are already confusing (the mpint from curve25519-sha256 is not the x-coordinate of the output curve point, but its byte-reversal). So clarification is definitely needed.
> 
> Going by OpenSSH's implementation, it looks as if they've encoded the x25519 shared secret for mlkem768x25519-sha256 in the same way as it's encoded for sntrup761x25519-sha512: the bytes are the same way round as they are in curve25519-sha256, but there are reliably 32 of them (so that they represent a little-endian encoding of the point's x coordinate, or a big-endian encoding of the mpint that curve25519-sha256 outputs). But I think that should be stated explicitly.
> 
> The corresponding information for the two NIST algorithms should be given as well, because it's not at all clear whether you intended to reuse the original octet-string encodings from SEC 1 (which encodes the x coordinate little-endian), or use big-endian (network) byte order on the basis that that's the default in SSH in general?
> 
> Supposing that you meant to use the SEC 1 encoding (on the basis that that's an already-documented fixed-length encoding of P256 and P384 output secrets), I suggest appending text to section 2.4 along the following lines:
> 
>>   In other words, for mlkem768x25519-sha256, the data hashed to generate K consists of
>> 
>>     byte[32]   shared secret output from ML-KEM-768
>>     byte[32]   affine x-coordinate of Curve25519 output point, little-endian
>> 
>>   (Note that the mpint output from the classical-only "curve25519-sha256" key exchange method is endianness-swapped, as per RFC8731 section 3.1. So the second 32-byte array can equivalently be regarded as representing the curve25519-sha256 output integer in _big_ endian order.)
>> 
>>   For the two methods using NIST elliptic curves, the shared secret output from the classical method is encoded as specified in [SEC1]. Therefore, for mlkem768nistp256-sha256, the data hashed to generate K  consists of
>> 
>>     byte[32]   shared secret output from ML-KEM-768
>>     byte[32]   affine x-coordinate of P256 output point, little-endian
>> 
>>   and for mlkem1024nistp384-sha384:
>> 
>>     byte[32]   shared secret output from ML-KEM-768
>>     byte[48]   affine x-coordinate of P384 output point, little-endian
>> 

Follow up clarifications from Simon 

> After off-list discussion with Panos, it turns out that I guessed wrong about this, so most of my suggested detailed wording was incorrect.
> Please nobody use that message of mine as clarification of what they actually ought to do!
> 
> In fact, the encoding of the classical shared secret in the hash preimage can be described quite simply as follows: take the mpint that the corresponding standalone kex method would have output, and re-encode that mpint as a fixed-size byte array, _always big-endian_, of size 32 or 48 bytes as appropriate to the kex method (32 bytes for
> Curve25519 and P256, or 48 bytes for P384).
> 
> (This consistent endianness from the POV of the mpint results in inconsistent endianness if you want to interpret the bytes as the x-coordinate of an elliptic curve point, because of the byte-reversal performed in the standalone Curve25519 method. So the Curve25519 x coordinate ends up as a 32-byte _little_ endian array whereas the two NIST coordinates end up as 32- and 48-byte _big_ endian.)



Addressed in draft-ietf-sshm-mlkem-hybrid-kex-01 commit https://github.com/csosto-pk/pq-ssh/commit/792810e85209c79b49a95cea2bee9d8e16de7a10 . The text now reads 

> Specifically for K_CL, the conversion from mpint to a byte array is by taking the mpint that the corresponding standalone key exchange method would have output and re-encoding it as a fixed-size (32 bytes for Curve25519 and secp256r1 or 48 bytes for secp384r1) byte array always big-endian.